.container {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-evenly;
  align-items: center;
  width: 45rem;
  height: 25rem;
  background-color: rgb(216, 209, 209);
  border: 1px solid brown;
  border-bottom: 3px black solid;
  position: relative;
}

.actionsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* align-items: center; */
  height: 60%;
}

.detailsContainer {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  /* justify-content: center; */
  width: 30%;
  height: 60%;
  text-align: left;
}

.Delete {
  position: absolute;
  right: 0;
  top: 0;
}
